:root{
    --font-seculr-one: "Secular One";
    --font-noto-sans: "Noto sans";
}

.chatContainer{
    background-color: black;
    color: white;
    width: 75%;
    height: 100%;
    border: 1px solid wheat;
    position: relative;
}

.channelHeaderContainer{
    width: 100%;
    height: 6%;
    background-color: rgb(186, 186, 186);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right: 3em;
}

.channelNameDisplayer{
    width: 40%;
    height: 100%;
    background-color: inherit;
    padding-left: 2em;
}

.channelNameDisplayer h2{
    font: 600;
    font-family: var(--font-noto-sans);
    font-weight: 600;
    color: black;
    font-size: 3em;
    background-color: inherit;
}

.channelNameDisplayer p{
    font-size: 2em;
    font-family: var(--font-noto-sans);
    font-weight: 500;
    background-color: inherit;
    color: black;
}

.convertsationContainer{
    width: 100%;
    height: calc(100% - 6% - 150px);
    background-color: rgb(255, 255, 255);
}

.meetingService{
    width: 10%;
    height: 100%;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.meetingIcons{
    background-color: inherit;
    color: rgb(107, 107, 107);
    cursor: pointer;
}


/* Composer Message */

.composerContainer{
    width: 100%;
    height: 150px;
    border-top: 1px solid gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.composerContainer input{
    height: 100%;
    width: calc(100% - 300px);
    background-color: #fff;
    font-size: 2.4em;
    box-sizing: border-box;
    padding: 0 2em;
    outline: none;
    border: none;
    font-family: var(--font-noto-sans);
    color: gray;
    font-weight: 700;

}

.plusIconC, .emojiIconC, .sendIcon{
   color: gray; 
   width: 100px;
   height: 100%;
   cursor: pointer;
}

.sendIcon{
    margin-right: 1em;
}

.emojiContainer{
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 2em;
    bottom: 2%;
    border: 1px solid red;
}

:global(.EmojiPickerReact) {
  --epr-emoji-size: 36px;
  --epr-category-label-height: 30px;
  font-size: 1.8rem;
}

:global(.EmojiPickerReact .epr-search) {
  height: 40px;
}

.uploadModalContainer{
    width: 350px;
    height: 450px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 300;
    left: 2em;
    bottom: 10em;
    border-radius: 12px;
}