:root{
    --font-seculr-one: "Secular One";
    --font-noto-sans: "Noto sans";
}

.chatRoomContainer{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.sidebarContainer{
    width: 25%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    position: relative;
}


.workspacesContainer{
    width: 80px;
    height: 100%;
    background-color: aliceblue;
    box-sizing: border-box;
    padding-top: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.workspace, .addWorkspace{
    width: 90%;
    aspect-ratio: 1/1;
    background-color: rgb(94, 92, 97);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-noto-sans);
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 1em;
    cursor: pointer;
}


.workspaceDetail{
    width: calc(100% - 80px);
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    position: relative;
}

.workspaceHeader{
    width: 100%;
    height: 60px;
    background-color: black;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 2em;
    &:hover{
        cursor: pointer;
        background-color: rgb(43, 43, 43);
    }
}

.workspaceHeader h3{
    font-family: var(--font-noto-sans);
    color: gray;
    background-color: inherit;
    font-size: 1.1em;
    font-weight: 800;
}

.workspaceHeader .icon{
    background-color: inherit;
    color: gray;
}

.channelsContainer{
    width: 100%;
    min-height: fit-content;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.channelSelectError{
    position: absolute;
    top: 80px;
    width: 90%;
    height: 50px;
    border-radius: 6px;
    border: 1px solid red;
    background-color: inherit;
    z-index: 100;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 0.6em;
}
.channelSelectError .errorChannel{
    background-color: inherit;
    color: gray;
    font-family: var(--font-noto-sans);
    font-weight: 600;
}

.channelHeader{
    width: 100%;
    height: 40px;
    margin-top: 1em;
    font-family: var(--font-noto-sans);
    font-weight: 500;
    color: gray;
    background-color: black;
    box-sizing: border-box;
    padding: 0 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.channelHeader h4, .channelAddIcon{
    background-color: black;
}

.channels{
    width: 100%;
    height: fit-content;
    background-color: black;
    box-sizing: border-box;
    padding: 0 2em;
    margin-top: 2em;
}

.channels div{
    width: 100%;
    height: 40px;
    background-color: inherit;
    color: gray;
    font-family: var(--font-noto-sans);
    font-weight: 600;
    font-size: 1em;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 0.4em;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
        background-color: #555;
    }
}

.userProfile{
    position: absolute;
    bottom: 2%;
    width: 98%;
    height:68px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 1%;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0 0.6em;
    background-color: #9A4A9F;
    gap: 4px;
}

.profileIcon{
    width: 52px;
    aspect-ratio: 1/1;
    background-color: #FF00C8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-family: var(--font-seculr-one);
    font-size: 2em;
    color: white;
    font-weight: 700;
}

.userNameAndEmail{
    height: 52px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: transparent;
    box-sizing: border-box;
    padding-left: 1em;
}

.spanWithFullname{
    font-family: var(--font-seculr-one);
    font-family: 1.4em;
    color: white;
    background: transparent;
}
.spanWithStatus{
    font-family: var(--font-seculr-one);
    font-weight: 700;
    font-family: 1em;
    color: rgb(81, 133, 81);
    background: transparent;
}

.settingIconButton{
    width: 52px;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}




/* Chat UI */
.emptyChannel{
    width: calc(100% - 25%);
    height: 100%;
    background-color: #fff;
    font-family: var(--font-noto-sans);
    font-weight: 700;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatuiContainer{
    width: calc(100% - 25%);
    flex-grow: 1;
    height: 100%;
    background-color: #555;
    font-family: var(--font-noto-sans);
    color: black;
}

/* Channel Header */
.ChannelHeader{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    background-color: #555;
}

.channelDetail{
    width: 20%;
    height: 100%;
    background-color: #555;
    box-sizing: border-box;
    padding: 0.4em 1em;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
}

.channelDetail h3, .channelDetail p{
    background-color: inherit;
    font-family: var(--font-noto-sans);
    color: black;
}

.channelMeeting{
    width: 10%;
    height: 100%;
    background-color: #555;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.meetingIcon{
    background-color: inherit;
    &:hover{
        color: gray;
    }
}


.converstationWindow{
    width: 100%;
    height: calc(100% - 60px);
    background-color: #323131;
    font-family: var(--font-noto-sans);
    color: gray;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 1em 0;
    gap: 1em;
}

.messagesView{
    width:98%;
    flex-grow: 1;
    background-color: inherit;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap:30px;
}


.noMessageDisplay{
    width: 100%;
    height: 100px;
    border-radius: 6px;
    background-color: inherit;
    font-family: var(--font-noto-sans);
    font-size: 1.4em;
    border: 1px solid gray;
    align-items: center;
    justify-content: center;
    display: flex;
    font-style: italic;
}

.loadingMoreMessages{
    width: 100%;
    height: 40px;
    background-color: inherit;
    font-size: 30px;
    font-family: var(--font-seculr-one);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF00C8;
}

.messageComposerContainer{
    width: 98%;
    flex-shrink: 0;
    border: 1px solid  gray;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 0.7em 1em;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
    position: relative;
}




.formatingIcons{
    width: 13%;
    height: 40px;
    background-color: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.formattingIcon{
    margin-right: 0.4em;
    width: 42px;
    height: 40px;
    box-sizing: border-box;
    padding: 0.4em;
    border-radius: 3px;
    &:hover{
        background-color: #3b36365b;
    }
}


.activeFormat{
    background-color: #3b36365b ;
}



.messageContainer{
    width: 100%;
    min-height: 40px;
}

.messageContainer textarea{
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 0.5em;
    font-family: var(--font-noto-sans);
    color: gray;
    font-size: 1em;
    border: none;
    outline: none;
    resize: none;
    border: 1px solid #55555516;
    display: flex;
    align-items: center;
    border-radius: 6px;
}

textarea::-webkit-scrollbar{
    display: none;
}

.messageFunctionality{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.messagesAdds{
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.addsIcon{
    height: 40px;
    width: 40px;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0.4em;
    &:hover{
        background-color: #3b36365b;
    }
}

.sendIcon{
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    padding: 0.4em;
    border-radius: 3px;
    color: green;
    background-color: #0080005d;
}

.messageBubble{
    width: 98%;
    min-height: fit-content;
    display: flex;
    box-sizing: border-box;
    padding: 0.4em;
    background-color: inherit;
    flex-direction: row;
    align-items: start;
    gap: 15px;
    border-bottom: 1px solid gray;
    position: relative;
    &:hover{
        background-color: rgb(85, 85, 85, 0.3);
        border-radius: 4px;
    }
}
.avatarURL{
    width: 40px;
    aspect-ratio: 1/1;
    background-color: rgb(105, 100, 194);
    border-radius: 2px;
    font-family: var(--font-seculr-one);
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    color: white;
}

.parentMessage{
    width: 100%;
    height: 50px;
    border-radius: 6px;
    background-color: inherit;
    border: 1px solid white;
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 16px;
    cursor: pointer;
}

.replyInd{
    position: absolute;
    left: 6px;
    height: 90%;
    width: 4px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: rgb(105, 100, 194);
    transform: translateY(-50%);
    top: 50%;
}

.replyContent{
    font-family: var(--font-noto-sans);
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: inherit;
}

.messageContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: inherit;
    background-color: transparent;
}

.senderItems{
    display: flex;
    flex-direction: row;
    width: fit-content;
    background-color: inherit;
    background-color: transparent;
}

.senderName{
    margin-right: 16px;
    font-family: var(--font-noto-sans);
    font-weight: 700;
    font-size: 1em;
    color: white;
    background-color: inherit;
    background-color: transparent;
}

.highlight{
    width: 100%;
    height: 100%;
    background-color: #9A4A9F;
}

.sendTimestamp{
    margin-right: 16px;
    font-family: var(--font-noto-sans);
    font-weight: 500;
    font-size: 0.7em;
    color: gray;
    display: flex;
    align-items: end;
    background-color: inherit;
    justify-content: baseline;
}

.messageText{
    max-width: 90%;
    min-height: 80px;
    background-color: inherit;
    color: rgb(195, 193, 193);
}

.attachemtContent{
    width: 150px;
    height: 150px;
    border-radius: 12px;
    background-color: inherit;
}

.imageCon{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    position: relative;
}

.imageCon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.videoCont{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    position: relative;
}
.videoCont video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Maximize2Icon{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgba(46, 40, 40, 0.5);
    z-index: 2;
    color: #FF00C8;
    border-radius: 4px;
    cursor: pointer;
}

.edited{
    position: absolute;
    bottom: 12px;
    right: 0;
    background: transparent;
    font-family: var(--font-noto-sans);
    font-family: 500;
}

.reactionPicker{
    position: absolute;
    top: 4px;
    right: 0;
    min-width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    background-color: #555;
    border: 1px solid gray;
    border-radius: 6px;
    box-shadow: -4px 5px 12px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: -4px 5px 12px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: -4px 5px 12px 0px rgba(0,0,0,0.5);
}

.reactionPicker button, .reactionPicker .messageReply, .reactionPicker .openReactionPicker{
    background-color: inherit;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
}
.emojiPicker{
    position: absolute;
    bottom: 120px;
    left: 0;
    z-index: 100;
    width: 300px;
    aspect-ratio: 1/1;
    border-radius: 12px;
}

.emojiPickerForMessage{
    width: 200px;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: 200px;
    border-radius: 12px;
}

.reactions{
    position: absolute;
    bottom: 12px;
    background-color:inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: inherit;
    gap: 10px;
}

.reaction{
    width: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(198, 198, 255, 0.4);
    box-sizing: border-box;
    padding: 0 4px;
    border-radius: 12px;
    color: white;
}

.replyToContainer{
    border: 1px solid rgb(105, 100, 194);
    width: 100%;
    height: 70px;
    border-radius: 8px;
    position: relative;
    box-sizing: border-box;
    padding: 2px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.replyIndicator{
    position: absolute;
    left: 4px;
    background-color: rgb(105, 100, 194);
    width: 6px;
    height: 90%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.removeReply{
    position: absolute;
    right: 2px;
    top: 2px;
    color: black;
    cursor: pointer;
    background: transparent;
}

.replyMessage{
    width: calc(100% - 30px);
    height: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
}

.replySender{
    font-family: var(--font-noto-sans);
    font-weight: 700;
    color: gray;
    height: 20px; 
}

.messageReplyContent{
    width: 100%;
    height: calc(100% - 20px);
    overflow: hidden;
    text-overflow: ellipsis;
}