/* General to all modal containers */
.modalOverlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2); /* Dim background */
}


/* Delete modal container */
.deleteModalContainer{
    width: 35%;
    height:24%;
    background-color: white;
    border-radius: 12px;
    position: relative;
    background-color: #5a67d8;
}

.Icon{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: transparent;
    z-index: 100;
}


.deleteTextContent{
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.deleteTextContent h2{
    font-family: var(--font-noto-sans);
    font-weight: 800;
    font-size: 1.5em;
    color: #5a67d8;
}

.deleteTextContent p{
    font-family: var(--font-noto-sans);
    font-weight: 500;
    font-size: 1.5em;
    color: gray;
    text-align: center;
}

.deleteTextContent button{
    height: 40px;
    width: 60%;
    background-color: #e11d48;
    outline: none;
    border: none;
    border-radius: 6px;
    font-family: var(--font-noto-sans);
    font-weight: 800;
    font-size: 1em;
    color: white;
}


/* Leave modal container */
.leaveContainer{
    width: 30%;
    height:30%;
    background-color: white;
    border-radius: 12px;  
    position: relative;
}


.LeaveWorskpaceTexts{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 12px;
}

.LeaveWorskpaceTexts h2{
    font-family: var(--font-noto-sans);
    color: #e11d48;
    font-size: 1.5em;
    font-weight: 800;
}

.LeaveWorskpaceTexts p{
    font-family: var(--font-noto-sans);
    color:gray;
    font-size: 1.4em;
    font-weight: 500;
    text-align: center;
}

.leaveButton{
    width: 100%;
    height: 20%;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 3em;
}
.leaveButton button{
    width: 80%;
    height: 90%;
    background-color: #e11d48;
    color: white;
    outline: none;
    border: none;
    border-radius: 12px;
    font-family: var(--font-noto-sans);
    font-size: 1em;
    font-weight: 800;
    align-items: center;
}



/* User Modal */
.modalUserContainer{
    width: 30%;
    height: 50%;
    background-color: white;
    border-radius: 12px;
    position: relative;
}

.userContent{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.userIcon{
    width: 150px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(224, 224, 224);
    margin-top: 10px;
    
}

.details{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    /* margin-top: 1em; */
}

.details > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 1em;
    height: 140px;
    font-family: var(--font-noto-sans);
    font-weight: 600;
    font-size: 1em;
}
.details > div h4{
    color: gray;
    font-size: 1em;
}


.actionButtons{
    width: 100%;
    height: 14%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 3em;
}

.role select{
    width: 40%;
    height: 100%;
    border: 1px solid gray;
    border: 12px;
    font-family: var(--font-noto-sans);
    color: #5a67d8;
    font-weight: 800;
    border: 1px solid gray;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 0 2em;
    font-size: 1.2em;
}

.actionButtons button{
    width: 30%;
    height: 70%;
    background-color: #5a67d8;
    outline: none;
    border: none;
    font-family: var(--font-noto-sans);
    font-weight: 800;
    color: white;
    border-radius: 12px;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &:hover{
        cursor: pointer;
    }
}





/* Invite Modal */
.inviteContainer{
    width: 30%;
    height:40%;
    background-color: white;
    border-radius: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 1em;
}

.inviteContent{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.inviteError, .createWorkspaceError,
 .deleteUserError, .roleUpdateSucess, 
 .errorLeaveMessage, .succesLeaveMessage, .joinedSuccess{
    width: 96%;
    height: 60px;
    border: 1px solid red;
    box-sizing: border-box;
    padding: 0 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    z-index: 100;
    border-radius: 4px;
    font-family: var(--font-noto-sans);
    font-weight: 600;
    color: red;
}

.deleteUserError, .errorLeaveMessage, .succesLeaveMessage{
    position: absolute;
    top: 15px;
    left: 15px;
}

.roleUpdateSucess, .succesLeaveMessage, .joinedSuccess{
    position: absolute;
    top: 20px;
    left: 14px;
    border-color: green;
    color: green;
}

.inviteError span, .createWorkspaceError span, .deleteUserError span{
    color: red;
    font-family: var(--font-noto-sans);
    font-size: 16px;
    font-weight: 500;
}


.teamIcon{
    color: #5a67d8;
    background-color: transparent;  
    object-fit:fill;
    margin-bottom: 20px;
}


.inviteText{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}


.inviteText h3{
    color: gray;
    font-size: 1em;
    text-align: center;
    font-family: var(--font-noto-sans);
}

.inputEmail{
    border: 1px solid #5a67d8;
    height: 70px;
    width: 98%;
    border-radius: 6px;
    margin-top: 1em;
    position: relative;
    &:focus-within{
        border: 3px solid #5a67d8;
    }
}

.inputEmail select{
    position: absolute;
    right: 0;
    width: 20%;
    height: 100%;
    font-size: 1em;
    font-family: var(--font-noto-sans);
    color: white;
    background-color: #5a67d8;
    border: none;
    outline: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    box-sizing: border-box;
    padding-left: 1em;
}

.inputEmail select option{
    background-color: #5a67d8;
}
.inputEmail input{
    width: 80%;
    height: 100%;
    outline: none;
    border: none;
    font-family: var(--font-noto-sans);
    color: gray;
    font-weight: 500;
    font-size: 1em;
    box-sizing: border-box;
    padding-left: 2em;
    border-radius: inherit;
}

.inviteContent button{
    align-self: flex-end;
    margin-right: 10px;
    width: 40%;
    height: 50px;
    background-color: #5a67d8;
    outline: none;
    border: none;
    font-family: var(--font-noto-sans);
    font-size: 1em;
    color: white;
    font-weight: 700;
    border-radius: 12px;
    &:hover{
        cursor: pointer;
    }
}


/* Open file modal */
.fileModalContainerOverlay{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fileModalContainer{
    width: 50%;
    /* aspect-ratio: 1/1; */
    height: 70%;
    position: relative;
    background-color: #5a67d8;
    border-radius: 12px;
}
.Minimize2Icon{
    position: absolute;
    top: 20px;
    right: 20px;
    /* background-color: inherit; */
    cursor: pointer;
    border-radius: 4px;
    background-color: #939ad6;
    z-index: 1;
}

.attachment{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
.imageContainer, .videoContainer{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.imageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.videoContainer video{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 12px;
}


/* Channel create modal */
.channelModalOverlay{
    width: 100%;
    height: 100vh;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.channelModalContainer{
    width: 30%;
    height: 30%;
    border-radius: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 1em;
    padding-bottom: 3em;
    padding-right: 1em;
    padding-left: 1em;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    background-color: inherit;
}
.header h3{
    background-color: inherit;
    font-family: var(--font-noto-sans);
}
.channelInput{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    background-color: inherit;
}

.channelInput input{
    margin-left: 10px;
    width: 100%;
    height: 100%;
    background-color:white;
    border: 1px solid gray;
    outline: none;
    font-family: var(--font-noto-sans);
    font-size: 20px;
    font-weight: 500;
    box-sizing: border-box;
    padding: 0 1em;
    border-radius: 6px;
}

.typeChannel{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
    font-family: var(--font-noto-sans);
}

.privateToggle, .publicToggle{
    width: 50px;
    height: 25px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    &:hover{
        cursor: pointer;
    }
}

.privateToggle span, .publicToggle span{
    height:22px;
    width: 22px;
    border: 3px solid gray;
    background-color: white;
    border-radius: 50%;
    transition: transform 2s ease ;
}

.privateToggle{
    justify-content: flex-end;
}

.privateToggle{
    background-color: #5a67d8;
}

.typeChannel h3{
    background-color: inherit;
}

.channelModalContainer button{
    align-self: flex-end;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    background-color: #5a67d8;
    font-family: var(--font-noto-sans);
    color: white;
    outline: none;
    border: none;
    border-radius: 4px;
    width: fit-content;
    box-sizing: border-box;
    padding: 0 1em;
    &:hover{
        cursor: pointer;
        background-color: #939ad6;
    }
}



.WorkspaceCreateModalOverlay{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.4);
}

.createWorkspaceError{
    width: 94%;
    position: absolute;
    top: 0.1em;
}

.Or{
    width: 98%;
    height: 1px;
    border: 1px solid gray;
}

.WorkspaceCreateModalContainer{
    width:800px;
    height: 500px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    gap: 10px;
    padding: 1em 1em;
}

.ownWorkspace, .invitedContainer{
    width: 98%;
    height: 50%;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.ownWorkspace span, .invitedContainer span{
    font-family: var(--font-noto-sans);
    font-weight: 600;
    color: gray;
}

.WorkspaceCreateModalContainer input{
    width: 95%;
    height: 70px;
    background-color: inherit;
    border-radius: 4px;
    border: 1px solid #5a67d8;
    outline: none;
    font-size: 17px;
    font-weight: 500;
    font-family: var(--font-noto-sans);
    color: gray;
    box-sizing: border-box;
    padding: 0 0.7em;
    &::placeholder{
        color: gray;
    }
    &:hover{
        border: 2px solid #5a67d8;
    }
}

.WorkspaceCreateModalContainer button{
    width: 95%;
    height: 60px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: #5a67d8;
    color: white;
    font-family: var(--font-noto-sans);
    font-weight: 600;
    font-size: 20px;
    &:hover{
        background-color: #939ad6;
    }
}

.closeIcon{
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: inherit;
    cursor: pointer;
}

.closeIconTwo{
    top: 4px;
    right: 4px;
    background-color: inherit;
    cursor: pointer;
    color: red;
}


/* Add user modal */

.AddUserModalOverlay{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1000;
}

.addModalUserContainer{
    width: 25%;
    height: 300px;
    background-color: white;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 0.4em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.addUserError{
    border: 2px solid red;
    width: 96%;
    height: 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 1em;
    z-index: 1000;
}

.addUserError span{
    font-family: var(--font-noto-sans);
    font-weight: 600;
}

.addModalUserContainer h3{
    font-family: var(--font-noto-sans);
    font-size: 20px;
}

.addModalUserContainer button{
    background-color: #5a67d8;
    width: 96%;
    height: 50px;
    outline: none;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    font-family: var(--font-noto-sans);
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    &:hover{
        background-color: #939ad6;
    }
}

.selectContainer{
    width: 96%;
    height: 50px;
}

.selectContainer select{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 16px;
    font-weight:400;
    border-radius: 4px;
    border: 1px solid #5a67d8;
    box-sizing: border-box;
    padding-left: 1em;
    &:focus{
        border: 3px solid #5a67d8;
    }
}

.selectContainer select option{
    font-family: var(--font-noto-sans);
    font-weight: 300;
    font-size: 16px;
}

